body {
  background-color: #fafafa;
  font-family: "Epilogue", sans-serif;
}

.container {
  padding-top: 20px;
  display: flex;
}

.navbar {
  display: flex;
}

.nav-header {
  display: flex;
  gap: 30px;
  position: relative;
}

.logins {
  padding-left: 600px;
}

.register {
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
}

span {
  cursor: pointer;
}

li {
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}

.snap {
  padding-top: 15px;
}

h1 {
  letter-spacing: -0.5px;
  color: #151515;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.title {
  margin: 4.8rem 0 5.1rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.learn-more {
  letter-spacing: -0.222222px;
  color: #fafafa;
  width: 13.6rem;
  height: 4.8rem;
  background-color: #151515;
  border-radius: 1.5rem;
  margin: auto;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  cursor: pointer;
}

.learn-more:hover {
  background-color: #fafafa;
  color: #151515;
}

.images {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-section {
  display: flex;
  margin: 100px 80px auto 80px;
}

.logo {
  width: 100%;

  height: auto;
}

.feature-img {
  padding-right: 10px;
}

.menu-content {
  background: #fff;
  border-radius: 1rem;
  flex-direction: column;

  justify-content: space-around;
  width: 150px;
  /* display: none; */
  text-align: center;
  cursor: pointer;
  /* display: flex; */
  position: absolute;
  top: 3rem;

  left: -3rem;
  box-shadow: 0 1rem 4rem #00000026;
}

.company-content {
  background: #fff;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  text-align: center;
  display: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 3rem;
  left: 7rem;
  box-shadow: 0 1rem 4rem #00000026;
}

.company-text:hover {
  color: gray;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
